<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Council Viz</title>
    <link rel="stylesheet" href="/commitee.css">
</head>
<body>
<header class="header">Council</header>

    <div class="box-grid">
   <div class="box box-1"></div>
    <div class="box box-2"></div>
    <div class="box box-3"></div>
    <div class="box box-4"></div>
    <div class="box box-5">kj</div>
    <div class="box box-6"></div>
    <div class="box box-7"></div>
    <div class="box box-8"></div>
    <div class="box box-9"></div>


</div>
    <script src="/script.js"></script>

</body>

</html>